<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" title="CBS Index" href="index.html">CBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" title="Products" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Farms" href="/farms">Farms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Customers" href="/customers">Customers</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" title="Orders" href="/orders">Orders<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mx-2">

        <h2 class="bd-title py-4">CBS Orders</h2>


        <table class="table table-bordered">
            <thead>
                <th>Order ID</th>
                <th>Order Date</th>
                <th>Ship Date</th>
                <th>Customer ID</th>
                <th>Recipient First Name</th>
                <th>Recipient Last Name</th>
                <th>Recipient Address</th>
                <th>City</th>
                <th>Zip</th>
                <th>Contact Phone #</th>
                <th>Subtotal</th>
                <th>Shipping Cost</th>
                <th>Total</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                {{#each orders}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{order_date}}</td>
                    <td>{{ship_date}}</td>
                    <td>{{customer_id}}</td>
                    <td>{{ship_firstname}}</td>
                    <td>{{ship_lastname}}</td>
                    <td>{{ship_address}}</td>
                    <td>{{ship_city}}</td>
                    <td>{{ship_zip}}</td>
                    <td>{{ship_phone}}</td>
                    <td>${{order_subtotal}}</td>
                    <td>${{order_shipcost}}</td>
                    <td>${{order_totalcost}}</td>
                    <td>{{order_quantity}}</td>
                    <td><button onclick="deleteOrder({{id}})" class="btn btn-danger">Delete</button></td>
                    <td><a href="/orders/{{id}}" class="btn btn-primary">Update</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>


        <h2 class="bd-title py-4">Order Details</h2>

        <table class="table table-bordered">
            <thead>
                    <th>Order ID</th>
                    <th class="d-none">Product ID</th>
                    <th>Product Name</th>
                    <th>Product Quantity</th>
                
            </thead>
            <tbody>
                {{#each orderdetails}}
                    <tr>
                        <td>{{order_id}}</td>
                        <td class="d-none">{{product_id}}</td>
                        <td>{{product_name}}</td>
                        <td>{{product_quantity}}</td>
                        <td><button onclick="deleteOrderDetail({{order_id}}, {{product_id}})" class="btn btn-danger">Delete</button></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>


        <h2 class="bd-title mt-5 py-4">Create A New Order</h2>
        <form id="addorder" action="/orders" method="POST">
            <div class="row">
                <div class="col-md-6">
                    <label for="order_date">Order Date:</label>
                    <input type="date" name="order_date" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="customer_id">Customer ID:</label>
                    <input type="number" name="customer_id" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="pt-4 pb-2">Shipping Information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="ship_firstname">First Name:</label>
                    <input type="text" name="ship_firstname" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="ship_lastname">Last Name:</label>
                    <input type="text" name="ship_lastname" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="ship_address">Address:</label>
                    <input type="text" name="ship_address" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="ship_city">City:</label>
                    <input type="text" name="ship_city" class="form-control" />
                </div>
                <div class="col-md-3">
                    <label for="ship_zip">ZIP:</label>
                    <input type="text" name="ship_zip" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label for="ship_phone">Phone:</label>
                    <input type="text" name="ship_phone" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h5 class="pt-4 pb-2">Order Information</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="order_subtotal">Subtotal Cost:</label>
                    <input type="number" name="order_subtotal" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label for="order_shipcost">Shipping Cost:</label>
                    <input type="number" name="order_shipcost" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="order_totalcost">Total Cost:</label>
                    <input type="text" name="order_totalcost" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <label for="order_quantity">Quantity:</label>
                    <input type="text" name="order_quantity" class="form-control" />
                </div>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg">Create Order</button>
            </div>
        </form>


        <h2 class="bd-title mt-5 py-4">Add A Product To An Order</h2>
        <form id="addOrderDetail" action="/orders/orderdetails" method="POST">
            <div class="row">
                <div class="col-md-4">
                    <label for="order_id">Order:</label>
                    <select name="order_id" id="order_id" class="form-control selectpicker">
                        {{#each orders}}
                        <option>{{id}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="product_id">Product:</label>
                    <select name="product_id" id="product_id" class="form-control selectpicker">
                        {{#each products}}
                        <option>{{product_id}}: {{product_name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="product_quantity">Product Quantity:</label>
                    <input type="number" name="product_quantity" class="form-control" />
                </div>
            </div>
            <br>
            <div class="text-center">
                <button onclick="addOrderDetail({{order_id}}, {{product_id}})" class="btn btn-primary btn-lg">Add Product To Order</button>
            </div>
        </form>


        <!-- FOOTER -->
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020 CBS</p>
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>

</html>