<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBS Update Customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" title="CBS Index" href="/index">CBS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" title="Products" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Farms" href="/farms">Farms</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" title="Customers" href="/customers">Customers<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" title="Orders" href="/orders">Orders</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mx-2">
        <h2 class="bd-title mt-5 py-4">Update {{customer.customer_firstname}} {{customer.customer_lastname}}</h2>

        <form id="update-customer" action="/customers" method="">
            <div class="row">
                <div class="col-md-6">
                    <label for="customer_firstname">First Name:</label>
                    <input type="text" id="customer_firstname" name="customer_firstname" class="form-control" value="{{customer.customer_firstname}}" />
                </div>
                <div class="col-md-6">
                    <label for="customer_lastname">Last Name:</label>
                    <input type="text" id="customer_lastname" name="customer_lastname" class="form-control" value="{{customer.customer_lastname}}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="">Address:</label>
                    <input type="text" name="customer_address" class="form-control"  value="{{customer.customer_address}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="">City:</label>
                    <input type="text" name="customer_city" class="form-control"  value="{{customer.customer_city}}"/>
                </div>
                <div class="col-md-4">
                    <label for="">ZIP:</label>
                    <input type="text" name="customer_zip" class="form-control" value="{{customer.customer_zip}}" />
                </div>
                <div class="col-md-4">
                    <label for="">Phone:</label>
                    <input type="text" name="customer_phone" class="form-control"  value="{{customer.customer_phone}}"/>
                </div>
            </div>
            <br>
            <div class="text-center">
                <button onclick="updateCustomer({{customer.id}})" class="btn btn-primary btn-lg">Update</button>
            </div>
        </form>

        <!-- FOOTER -->
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020 CBS</p>
        </footer>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>

</html>


       