<html>
<h1>Update {{customer.fname}} {{customer.lname}}:</h1>
<form id="update-customer" action="/customers" method="POST">
    First name: <input type="text" name="fname" value="{{customer.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{customer.lname}}"><br>
    Address: <input type="text" name="address" value="{{customer.address}}"><br>
    City: <input type="text" name="city" value="{{customer.city}}"><br>
    ZIP: <input type="text" name="zip" value="{{customer.zip}}"><br>
    Phone: <input type="text" name="phone" value="{{customer.phone}}"><br>
</form>
<button onclick="updateCustomer({{customer.id}})">Update</button>
</html>